
<!DOCTYPE html>
<html>
<head>
  <title>Success</title>
  <style>
    h1 {
      font-size: 120px; /* BEGIN: Increase font size to 60px */
      text-align: center;
    }
    p {
      font-size: 24px; /* BEGIN: Increase font size to 24px */
      text-align: center;
    }
    .message {
      font-weight: bold; /* BEGIN: Add bold font weight */
    }
  </style>
</head>
<body style="text-align: center;">
  <h1>Success! 🎉</h1> <!-- BEGIN: Add congratulation emoji -->
  <img src='../../static/img/cute.png' alt="Chito Image" style="width: 500px; height: auto;"> <!-- BEGIN: Add image with src and alt attributes, and set size with style -->
  <p class="message">Your email has been verified.</p> <!-- BEGIN: Add class to the p element -->
  <p>회원가입 페이지로 돌아가주세요!</p>
</body>
</html>
