@import "bourbon";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@mixin transform($transformation) {
  -webkit-transform: $transformation;
  -ms-transform: $transformation;
  transform: $transformation;
}

@mixin transition($transitions...) {
  -webkit-transition: $transitions;
  -moz-transition: $transitions;
  -o-transition: $transitions;
  transition: $transitions;
}


@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
      @content;
  }
  @-moz-keyframes #{$name} {
      @content;
  }
  @-ms-keyframes #{$name} {
      @content;
  }
  @keyframes #{$name} {
      @content;
  }
}

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}

$greenSeaweed: rgb(176, 255, 226);
$blueQueen: rgba(69, 105, 144, 1);
$redFire: rgba(244, 91, 105, 1);

$fontAsap: 'Asap', sans-serif;


// body {
//   width:3400px;
//   height: 3100px;
// }

.App {
  text-align: center;
  width:3600px; //3560px
  height: 3100px;
  // overflow:hidden;
  overflow-y: visible;
  // overflow-x: visible;
  // padding: 140px;
  padding-top: 140px;
  position: relative;
}

.App-small {
  text-align: center;
  overflow:hidden;
  width: 100vw;
  height: 100vh;
}

.postit {
  width: auto;
  height: auto;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.add-button {
  position: fixed;
  bottom: 20px;
  right: calc(48%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  background-color: rgba(69, 105, 144, 1);
  color: white;
  border: none;
  cursor: pointer;
}

.chat-button {
  /* position: fixed; */
  /* bottom: 20px; */
  /* right: 80px; */
  right: calc(50%);
  width: 40px;
  height: 30px;
  border-radius: 5px;
  font-size: 16px;
  &.male{
    background-color: $blueQueen;
  }
  &.female {
    background-color: rgb(243, 48, 64);
  }

  background-color: rgba(69, 105, 144, 1);
  color: white;
  border: none;
  cursor: pointer;
  top: 5px;
  right: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mypage-button{
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 85px;
  border: 0;
  padding: 10px 0;
  position: fixed;
  top: 20px;
  left: 20px;
  border-radius: 5px;
  background-color: white;
  &.male{
    background-color: $blueQueen;
  }
  &.female {
    background-color: rgb(243, 48, 64);
  }
  /* @include transition(background-color 300ms); */
  z-index: 100;
  &:hover {
    background-color: darken($blueQueen, 20%);
    &.male{
      background-color: darken($blueQueen, 20%);
    }
    &.female{
      background-color: darken(rgb(243, 48, 64), 20%);
    }
  }
  
}

.likelist-button{
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  border: 0;
  padding: 10px 0;
  position: fixed;
  top: 20px;
  left: 120px;
  border-radius: 5px;
  background-color: white;
  &.male{
    background-color: $blueQueen;
  }
  &.female {
    background-color: rgb(243, 48, 64);
  }
  /* @include transition(background-color 300ms); */
  z-index: 100;
  &:hover {
    background-color: darken($blueQueen, 20%);
    &.male{
      background-color: darken($blueQueen, 20%);
    }
    &.female{
      background-color: darken(rgb(243, 48, 64), 20%);
    }
  }
  
}

.add-button:hover {
  background-color: rgba(69, 105, 144, 1);
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div.rgyPostIt {
  user-select: none;
  position: relative;
  display: inline-block;
  padding: 20px 45px 20px 15px;
  margin: 5px 0;
  border: 1px solid #f8f861;
  border-left: 30px solid #f8f861;
  border-bottom-right-radius: 60px 10px;
  font-family: 'Nanum Pen Script';
  font-size: 27px;
  color: #555;
  word-break: break-all;
  background: -webkit-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff88', endColorstr='#ffffc6', GradientType=1); 
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

div.rgyPostIt::after {
  content: " ";
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 35px;
  width: 85px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 2px 35px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 35px 5px rgba(0, 0, 0, 0.4);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

div.rgyPostIt:hover, div.rgyPostIt.male:hover, div.rgyPostIt.female:hover {
  border-bottom-right-radius: 75px 30px;
}

div.rgyPostIt:hover::after, div.rgyPostIt.male:hover::after, div.rgyPostIt.female:hover::after {
  box-shadow: 2px 37px 7px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 2px 37px 7px rgba(0, 0, 0, 0.37);
}

div.rgyPostIt > p {
  padding: 5px 0 !important;
}

div.rgyPostIt > p::before {
  content:"\f198";
  margin-right: 7px;
  font-family: "FontAwesome";
  font-weight: normal;
  font-size: 20px;
  vertical-align: middle;
}

div.rgyPostIt > p > a {
  color: #555;
}

div.rgyPostIt.male {
  /* 남성용 색상 */
  user-select: none;
  position: absolute;
  // width: 400px;
  width: auto;
  height: auto;
  display: inline-block;
  padding: 20px 25px 20px 15px;
  margin: 5px 0;
  border: 1px solid rgb(97, 180, 248);
  border-left: 30px solid hwb(200 38% 3%);
  border-bottom-right-radius: 60px 10px;
  font-family: 'Nanum Pen Script';
  font-size: 20px;
  color: #555;
  word-break: break-all;
  background: -webkit-linear-gradient(-45deg, #88cdff 81%, #88cdff 82%, #88cdff 82%, #88b6ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#88cdff', endColorstr='#88b6ff', GradientType=1); 
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  text-align: left;
}

div.rgyPostIt.female {
  /* 여성용 색상 */
  user-select: none;
  position: absolute;
  // width: 200px;
  width: auto;
  height: auto;
  display: inline-block;
  padding: 20px 45px 20px 15px;
  margin: 5px 0;
  border: 1px solid #f8618c;
  border-left: 30px solid #f86189;
  border-bottom-right-radius: 60px 10px;
  font-family: 'Nanum Pen Script';
  font-size: 20px;
  color: #555;
  word-break: break-all;
  background: -webkit-linear-gradient(-45deg, #ff889e 81%, #ff889e 82%, #ff889e 82%, rgb(255, 198, 205) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff889e', endColorstr='#ff889e', GradientType=1); 
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  text-align: left;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 22px;
  color: #555;
  padding: 0;
  line-height: 1;
}

.myHeader {
  text-align: left;
  //요소들을 가로로 배치
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px;
  font-family: $fontAsap;
  .edit-button {
      margin-left: 10px;
      font-family: $fontAsap;
      cursor: pointer;
      border-radius: 5px;
      //배경색 투명
      background-color: rgba(0, 0, 0, 0);
      @include transition(background-color 300ms);
      
      &:hover {
          &.male{
              background-color: darken($blueQueen, 20%);
            }
          &.female{
            background-color: darken(rgb(243, 48, 64), 20%);
          }
      }
  }

}

.myBody {
  text-align: left;
  font-size: 18px;


  .infoTitle {
      width: 80px;
      //가운데 정렬
      text-align: left;
      //상하 가운데 정렬
      display: flex;
      justify-content: left;
      align-items: center;
  }
  .infoBox {
      display: flex;
      justify-content: left;
      margin-bottom: 10px;
  }

  .infoContent {
      display: flex;
      justify-content: left;
      // width: auto;
      // font-size: 12px;
      .infoItem {
        font-family: $fontAsap;
        cursor: pointer;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        width: auto;
        
        border: 0;
        padding: 10px 10px;
        // margin-top: 10px;
        margin-right: 5px;
        border-radius: 5px;
        &.male {
            background-color: rgb(67, 130, 196);
        }
        &.female {
            background-color: $redFire;
        }
  
        @include transition(background-color 300ms);
  
    }
  }
}