@import "bourbon";

@mixin transform($transformation) {
  -webkit-transform: $transformation;
  -ms-transform: $transformation;
  transform: $transformation;
}

@mixin transition($transitions...) {
  -webkit-transition: $transitions;
  -moz-transition: $transitions;
  -o-transition: $transitions;
  transition: $transitions;
}


@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
      @content;
  }
  @-moz-keyframes #{$name} {
      @content;
  }
  @-ms-keyframes #{$name} {
      @content;
  }
  @keyframes #{$name} {
      @content;
  }
}

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}



// Colors
$greenSeaweed: rgba(2, 128, 144, 1);
$blueQueen: rgba(69, 105, 144, 1);
$redFire: rgba(244, 91, 105, 1);

// Fonts
$fontAsap: 'Asap', sans-serif;

body {
  // background-color: $redFire;
  font-family: $fontAsap;
}

form.signUp {
  overflow: hidden;
  background-color: rgb(175, 210, 237);
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%; // 기본값

  @media (max-height: 600px) { // 600px 미만의 높이를 가진 화면에서만 이 스타일을 적용
    top: 100%; // 화면의 높이가 작은 경우
  }
  left: 50%;
  width: 300px; // 모바일 화면에서의 기본 너비

  @media (min-width: 768px) { // 768px 이상의 너비를 가진 화면에서만 이 스타일을 적용
    width: 400px; // PC 화면에서의 너비
  }
  @include transform(translate(-50%, -50%));
  @include transition(transform 300ms, box-shadow 300ms);
  box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
  
  &::before, &::after {
    content: '';
    position: absolute;
    width: 1100px;
    height: 1400px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
  }
  
  &::before {
    left: 40%;
    bottom: -130%;
    background-color: rgba($blueQueen, 0.15);
    @include animation(wawes 6s infinite linear);
  }
  
  &::after {
    left: 35%;
    bottom: -125%;
    background-color: rgba($greenSeaweed, 0.2);
    @include animation(wawes 7s infinite);
  }
  
  > div > label > input{
    font-family: $fontAsap;
    display: block;
    border-radius: 5px;
    font-size: 18px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
  }

  .back-button {
    position: absolute;
    top: 10px; 
    left: 10px; 
    width:60px;
    background-color: transparent;
    border: none;
    font-size: 24px; 
    cursor: pointer; 
  }
  
  > button {
    font-family: $fontAsap;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 80px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    // margin-left: -5px;
    border-radius: 5px;
    background-color: $blueQueen;
    @include transition(background-color 300ms);
    
    &:hover {
      background-color: darken($blueQueen, 5%);
    }
  }

  .chooseButton {
    font-family: $fontAsap;
    cursor: pointer;
    color: rgb(61, 61, 61);
    font-size: 14px;
    text-transform: uppercase;
    width: 60px;
    height: 40px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 5px;
    background-color: rgb(197, 235, 254);
    @include transition(background-color 300ms);
    
    &:hover {
      background-color: darken($blueQueen, 5%);
      color:white;
    }
    &.selected, &:hover {
      background-color: darken($blueQueen, 5%);
      color:white;
    }
  }

  .chooseButtonH {
    font-family: $fontAsap;
    cursor: pointer;
    color: rgb(61, 61, 61);
    font-size: 12px;
    text-transform: uppercase;
    width: 60px;
    height: auto;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 5px;
    background-color: #a9def9;
    @include transition(background-color 300ms);
    
    &:hover {
      background-color: darken($blueQueen, 5%);
      color:white;
    }
    &.selected, &:hover {
      background-color: darken($blueQueen, 5%);
      color:white;
    }
  }

  .chooseButtonE {
    font-family: $fontAsap;
    cursor: pointer;
    color: rgb(61, 61, 61);
    font-size: 12px;
    text-transform: uppercase;
    width: 70px;
    height: 60px;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 5px;
    background-color: #a9def9;
    @include transition(background-color 300ms);
    
    &:hover {
      background-color: darken($blueQueen, 5%);
      color:white;
    }
    &.selected, &:hover {
      background-color: darken($blueQueen, 5%);
      color:white;
    }
  }

  // sex toggle switch
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
  }
  
  .toggle-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $blueQueen;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "♂";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $redFire;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px $redFire;
  }
  
  input:checked + .slider:before {
    content: "♀";
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
  }
  
  /* 슬라이더를 둥글게 만들기 */
  .slider {
    border-radius: 34px;
  }
  
  .slider:before {
    border-radius: 50%;
  }
  
  // military toggle switch
  .toggle-switch-military {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
  }
  
  .toggle-switch-military input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider-military {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(169, 169, 169);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider-military:before {
    position: absolute;
    content: "미필";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    font-size: 10px;
    font-weight: bold;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider-military {
    background-color: $blueQueen;
  }
  
  input:focus + .slider-military {
    box-shadow: 0 0 1px $blueQueen;
  }
  
  input:checked + .slider-military:before {
    content: "군필";
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
  }
  
  /* 슬라이더를 둥글게 만들기 */
  .slider-military {
    border-radius: 34px;
  }
  
  .slider-military:before {
    border-radius: 50%;
  }

  // eyeType toggle switch
  .toggle-switch-eyeType {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
  }
  
  .toggle-switch-eyeType input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider-eyeType {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(169, 169, 169);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider-eyeType:before {
    position: absolute;
    content: "무쌍";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    font-size: 10px;
    font-weight: bold;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider-eyeType {
    background-color: $blueQueen;
  }
  
  input:focus + .slider-eyeType {
    box-shadow: 0 0 1px $blueQueen;
  }
  
  input:checked + .slider-eyeType:before {
    content: "유쌍";
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
  }
  
  /* 슬라이더를 둥글게 만들기 */
  .slider-eyeType {
    border-radius: 34px;
  }
  
  .slider-eyeType:before {
    border-radius: 50%;
  }

}


@include keyframes (wawes) {
  from { @include transform(rotate(0)); }
  to { @include transform(rotate(360deg)); }
}


/* 체크박스 대신 표시할 라벨 스타일 */
input[type="checkbox"] {
  display: inline-block;
  width: 20px; /* 체크박스 크기 */
  height: 20px; /* 체크박스 크기 */
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
}